// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// less than sm
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: $sub-color;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: $main-color;
}

.navbar-brand {
    color: $logo-color!important;
    font-weight: bold;
    font-size: 32px;
    padding: 0;
}

.navbar-brand:hover {
    opacity: 0.6;
}

#menu {
    ul {
        margin-left: auto;
        text-align: center;
    }
    li {
        padding-right: 8px;
    }
    li + li {
        border-top: 1px solid #eee;
    }
    a {
        text-decoration: none;
        color: black;
        padding: 8px;
        border-radius: 4px;
    }
}

main {
    flex: 1;
    background-color: white;
    margin: 0 auto;
    width: 100%;
}

section {
    width: 90%;
    margin: 0 auto;
    padding-top: 16px;
    text-align: center;
}

section + section {
    border-top: 1px solid #eee;
}

section h1 {
    font-size: 24px;
}

.error-page {
    width: 80%;
    margin: 32px auto 0;
    border: 4px solid $main-color;
    border-radius: 4px;
    background-color: $sub-color;
    text-align: center;
    h1 {
        margin: 0;
        color: red;
        background-color: $main-color;
    }
    p {
        margin-top: 16px;
    }
}

.card {
    margin-top: 32px;
    margin-bottom: 32px;
    border-color: $main-color;
    .card-header {
        background-color: $sub-color;
        border-bottom-color: $main-color;
    }
}

textarea {
    height: 120px!important;
}

.profile {
    .card-body {
        text-align: center;
    }

    img {
        width: 100px;
        height: 100px;
    }

    .name {
        font-weight: bold;
        font-size: 20px;
    }

    .body {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        border-radius: 4px;
        padding: 8px;
        margin: 0 auto;
    }
}

.myposts .post {
    padding-bottom: 16px;
    width: 90%;
    margin: 0 auto;
}

.post + .post {
    border-top: 1px solid #eee;
}

.post {
    img {
        width: 256px;
    }

    h2 {
        margin: 0;
    }
}
input#profile_image {
    display: none;
}

.btn {
    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    img:hover {
        opacity: 0.8;
    }
}

.destroy-user {
    .card-body {
        text-align: center;
    }

    ul {
        list-style: none;
        padding: 0;
        border: 1px solid #eee;
    }
}

.post-picture {
    margin-top: 32px;

    #img {
        width: 256px;
        height: 256px;
        object-fit: contain;
    }

    img {
        object-fit: contain;
        margin-bottom: 16px;
    }

    .picture {
        height: 256px;
    }
}

input#picture-input {
    display: none;
}

.btn-light {
    border: 1px solid black;
}

.show-picture {
    margin-top: 32px;
    margin-bottom: 32px;

    .row, img {
        width: 256px;
        margin: 0 auto;
    }

    .row {
        margin-bottom: 16px;
    }

    .download, .actions {
        margin-bottom: 0;
        a {
            text-decoration: none;
            text-align: center;
            width: 100%;
            border-radius: 4px;
            border: 1px solid white;
            background-color: blue;
            padding: 4px;
            color: white;
        }
        a:hover {
            opacity: 0.8;
        }
    }

    .favorited {
        opacity: 0.4;
    }

    .comment {
        border: 1px solid #eee;
        border-radius: 4px;
        p {
            margin-top: 16px;
            margin-bottom: 16px;
        }
    }

    .creater {
        a {
            font-size: 20px;
        }

        img {
            width: 32px;
            height: 32px;
            margin: 0;
        }
    }
}

.posts {
    margin-top: 32px;

    h1 {
        text-align: center;
    }

    .post {
        padding-bottom: 16px;
    }

    .creater img {
        width: 32px;
        height: 32px;
        object-fit: cover;
    }
}

.post .creater, .post .favorite {
    margin: 16px auto 0;
    width: 256px;
    text-align: left;
    line-height: 32px;
    font-size: 16px;
}

.trend a {
    color: black;
}

.search {
    margin-top: 32px;

    h1 {
        font-size: 24px;
        text-align: center;
    }

    select {
        width: 120px;
    }

    a[href$="search"] {
        text-align: center;
        text-decoration: none;
        background-color: blue;
        border-radius: 4px;
        color: white;
        width: 200px;
        padding: 8px;
        margin: 8px;
    }

    a[href$="search"]:hover {
        opacity: 0.8;
    }

    table {
        text-align: center;
        border: 2px solid $main-color;

        th {
            background-color: $main-color;
        }

        th, td {
            padding: 6px;
        }

        tr:nth-child(odd) {
            background-color: white;
        }

        tr:nth-child(even) {
            background-color: $sub-color;
        }

        img {
            width: 32px;
            height: 32px;
        }
    }
}

.pagination {
    justify-content: center;

    .page-link {
        width: 24px;
        height: 32px;
        padding: 0;
        line-height: 32px;
        text-align: center;
    }
}

footer {
    background-color: $main-color;
    height: 64px;
    .copyright {
        text-align: center;
        line-height: 64px;
    }
}

// sm and more
@media (min-width: 576px) {
    #menu {
        ul li {
            border: none;
        }

        a:hover {
            background-color: $sub-color;
        }
    }

    .post-picture #img {
        width: 512px;
        height: 512px;
    }

    .show-picture {
        .row, img {
            width: 512px;
        }

        img {
            height: 512px;
            object-fit: contain;
        }
    }

    .pagination .page-link {
        width: 32px;
    }
}

// md and more
@media (min-width: 769px) {
    main {
        width: 80%;
    }
}

// lg and more
@media (min-width: 1200px) {
    main {
        width: 60%;
    }
}
